body{
	margin: 10px 10px 10px 10px;
	font-family: Helvetica;
	font-size: 18px;
	width: 960px;
}
.header,.nav,.footer{
    background-color: #777;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	margin: 10px 10px 10px 10px;
}
.container_row{
	background: steelblue;
	margin: 20px 10px 10px 10px;
	height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}
.child {
	/*width:300px;*/
	display: flex;
	justify-content: center;
	
}
.section{
	background: yellow;
	width: 495px;
	
	
}
.aside{
	background: red;
	width: 425px;
	

}