body{
	margin: 10px 10px 10px 10px;
	font-family: Helvetica;
	font-size: 18px;
}
.header,.nav,.footer{
    background-color: #777;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	margin: 10px 10px 10px 10px;
}
.container{
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	margin: 10px 10px 10px 10px;
}
.container-section{
	background-color: #777;
	flex: 1;
	margin: 10px 10px 10px 0px;
	text-align: center;
	/*width: 495px;*/
	height: 300px ;
	display: flex;
	flex-direction: column;
}

.aside{
	flex: 1;
	margin: 10px 0px 10px 10px;
	text-align: center;
	/*max-width: 300px;*/
	max-width: 300px;
	background-color: green;
}
.article{
	background-color: blue;
	flex: 1;
	margin: 10px 10px 10px 10px;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}
.h1h2h3{
	background-color: #777;
	flex: 1;
	margin: 10px 10px 10px 10px;
	
}
.p{
	background-color: #777;
	flex: 1;
	margin: 10px 10px 10px 10px;
}


	